<template name="SyncBtn">
    <script type="text/javascript">
        $('body').on('click', function (e) {
            $('[data-toggle="popover"]').each(function () {
                //the 'is' for buttons that trigger popups
                //the 'has' for icons within a button that triggers a popup
                if (!$(this).is(e.target) && $(this).has(e.target).length === 0 && $('.popover').has(e.target).length === 0) {
                    $(this).popover('hide');
                }
            });
        });
    </script>
    <button type="button" class="btn btn-lg btn-default" id="sync-btn" data-loading-text="Loading..." data-toggle="popover">Sync!</button>
</template>
