/*****************************************************************************/
/* Feed: Style */
/*****************************************************************************/
li{
    padding-left: 2em;
}
h6{
    color: gray;
}
li .container-fluid{
    padding-left: 0;
    margin-left: -2em;
}