<template name="SideMenu">
    <ul class="list-group">
        <li class="list-group-item">Welcome</li>
        <li class="list-group-item"><a href="{{pathFor 'facebook'}}">News Feed</a></li>
        <li class="list-group-item">Messages</li>
        <li class="list-group-item">Events</li>
    </ul>
    <h3>Groups</h3>
    <ul class="list-group">
        {{#each groups}}
            {{> GroupsMenuItem}}
        {{/each}}
    </ul>
    <h3>Pages</h3>
    <ul class="list-group">
        <li class="list-group-item">Page</li>
        <li class="list-group-item">News Feed</li>
        <li class="list-group-item">Messages</li>
        <li class="list-group-item">Events</li>
    </ul>
</template>

<template name="GroupsMenuItem">
    <li class="list-group-item">{{name}}</li>
</template>
